LinkedIn Jobs.json
{
  "name": "LinkedIn Jobs",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "weeks"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        0
      ],
      "id": "46ef402d-dab4-4e21-8e37-a7f9e6b8b64d",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1HdP_4EGdDNtmbvPUjtvfsr50TeaNAa-BsDV2egMmCs4",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1HdP_4EGdDNtmbvPUjtvfsr50TeaNAa-BsDV2egMmCs4/edit?gid=0#gid=0",
          "mode": "url"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        240,
        0
      ],
      "id": "04c139c4-f9f7-4e88-90fd-42e6957100d0",
      "name": "Get row(s) in sheet",
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "2jApfayuf7hTqZbd",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "13af5cd1-03af-431a-adb8-d70157c3de8c",
              "name": "matching",
              "value": "={{ $json.Company }}-{{ $json[\"Job Title\"] }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        496,
        0
      ],
      "id": "32981d2e-c752-45fd-b362-b03ce63c6934",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "matching"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        752,
        0
      ],
      "id": "4a826d1b-1201-4d10-b944-5a29f1e57942",
      "name": "Aggregate"
    },
    {
      "parameters": {
        "actorId": {
          "__rl": true,
          "value": "https://console.apify.com/actors/hKByXkMQaC5Qt9UMN/input",
          "mode": "url"
        },
        "customBody": "{\n    \"count\": 100,\n    \"scrapeCompany\": true,\n    \"splitByLocation\": false,\n    \"urls\": [\n        \"https://www.linkedin.com/jobs/n8n-jobs-worldwide/?currentJobId=4384087497\"\n    ]\n}"
      },
      "type": "@apify/n8n-nodes-apify.apify",
      "typeVersion": 1,
      "position": [
        1024,
        0
      ],
      "id": "ae0235ef-da73-4ad1-95c8-49b263212798",
      "name": "Run an Actor",
      "credentials": {
        "apifyApi": {
          "id": "NCRSCBJmfz3eI63N",
          "name": "Apify account"
        }
      }
    },
    {
      "parameters": {
        "resource": "Datasets",
        "datasetId": "={{ $json.defaultDatasetId }}",
        "options": {}
      },
      "type": "@apify/n8n-nodes-apify.apify",
      "typeVersion": 1,
      "position": [
        1296,
        0
      ],
      "id": "6e8a36bb-1d66-402d-b601-435af7815d4f",
      "name": "Get dataset items",
      "credentials": {
        "apifyApi": {
          "id": "NCRSCBJmfz3eI63N",
          "name": "Apify account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "91887fc3-719c-4b57-8975-3715952deee9",
              "leftValue": "={{ $('Aggregate').first().json.matching }}",
              "rightValue": "={{ $json.companyName }}-{{ $json.title }}",
              "operator": {
                "type": "array",
                "operation": "notContains",
                "rightType": "any"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.3,
      "position": [
        1552,
        0
      ],
      "id": "b305f2ad-207b-4977-a8da-75d393c3d24b",
      "name": "Filter"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1HdP_4EGdDNtmbvPUjtvfsr50TeaNAa-BsDV2egMmCs4",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "الورقة1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1HdP_4EGdDNtmbvPUjtvfsr50TeaNAa-BsDV2egMmCs4/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Company": "={{ $json.companyName }}",
            "Url": "={{ $json.link }}",
            "Job Title": "={{ $json.title }}",
            "Apply Url": "={{ $json.applyUrl }}",
            "Description": "={{ $json.descriptionHtml }}",
            "Location": "={{ $json.location }}",
            "Post At": "={{ $json.postedAt }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Company",
              "displayName": "Company",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Job Title",
              "displayName": "Job Title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Url",
              "displayName": "Url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Apply Url",
              "displayName": "Apply Url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Description",
              "displayName": "Description",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Location",
              "displayName": "Location",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Post At",
              "displayName": "Post At",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Score",
              "displayName": "Score",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Cover Letter Path",
              "displayName": "Cover Letter Path",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1792,
        0
      ],
      "id": "f641da92-04ac-4497-a878-405a3ca027de",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "2jApfayuf7hTqZbd",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "content": "# Step 1 - Get  and remove duplicated jobs",
        "height": 288,
        "width": 2032
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -48,
        -112
      ],
      "typeVersion": 1,
      "id": "5cbcf371-27de-4ca2-bdd4-44b6f9df1723",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        384
      ],
      "id": "b5f1c68c-1c02-44a5-be53-4de47012eef2",
      "name": "Schedule Trigger1"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1HdP_4EGdDNtmbvPUjtvfsr50TeaNAa-BsDV2egMmCs4",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "الورقة1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1HdP_4EGdDNtmbvPUjtvfsr50TeaNAa-BsDV2egMmCs4/edit#gid=0"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "Score"
            }
          ]
        },
        "options": {
          "returnFirstMatch": true
        }
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        208,
        384
      ],
      "id": "a89c2a45-b5e1-47e0-ac62-12f04838d324",
      "name": "Get row(s) in sheet1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "2jApfayuf7hTqZbd",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.fullPrompt }}",
        "hasOutputParser": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        832,
        384
      ],
      "id": "8a0af4e5-3ee0-49df-9122-f8fb7a61a6ea",
      "name": "AI Agent",
      "retryOnFail": true
    },
    {
      "parameters": {
        "model": "nvidia/nemotron-3-super-120b-a12b:free",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        736,
        224
      ],
      "id": "50d86df1-1dad-4fe7-9cab-ecb682515ea5",
      "name": "OpenRouter Chat Model",
      "credentials": {
        "openRouterApi": {
          "id": "n0qpJOVgyGdpwyPz",
          "name": "LinkedIn Jobs"
        }
      }
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"score\": 0,\n  \"miss_requirements\": \"\"\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        1072,
        224
      ],
      "id": "0fe3060f-c66e-4764-ba1f-a306098ede3f",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "operation": "get",
        "documentURL": "1Q716gU3U0KvSWU2hnoF2Ko2CyFJQ7GMIO_52t2_nsTI"
      },
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        416,
        384
      ],
      "id": "57ec473f-2188-48a8-96dd-d3a1c5cdd195",
      "name": "Get Resume",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "seUy83qRzsqvPyzC",
          "name": "Google Docs account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "71b85698-caca-4b08-b431-8df33e2df8d7",
              "leftValue": "={{ $json.output.score }}",
              "rightValue": 3,
              "operator": {
                "type": "number",
                "operation": "gte"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1584,
        384
      ],
      "id": "6e918146-e474-439c-8fea-c482257d6e2b",
      "name": "If"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1HdP_4EGdDNtmbvPUjtvfsr50TeaNAa-BsDV2egMmCs4",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "الورقة1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1HdP_4EGdDNtmbvPUjtvfsr50TeaNAa-BsDV2egMmCs4/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Score": "={{ $json.output.score }}",
            "row_number": "={{ $('Get row(s) in sheet1').item.json.row_number }}"
          },
          "matchingColumns": [
            "row_number"
          ],
          "schema": [
            {
              "id": "Company",
              "displayName": "Company",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Job Title",
              "displayName": "Job Title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Url",
              "displayName": "Url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Apply Url",
              "displayName": "Apply Url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Description",
              "displayName": "Description",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Location",
              "displayName": "Location",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Post At",
              "displayName": "Post At",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Score",
              "displayName": "Score",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Cover Letter Path",
              "displayName": "Cover Letter Path",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1808,
        384
      ],
      "id": "6fc1daa5-040d-4f93-ac2a-eb9ab0570c93",
      "name": "Update row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "2jApfayuf7hTqZbd",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.prompt }}",
        "hasOutputParser": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        384,
        816
      ],
      "id": "f8577de7-db85-4121-962a-75672cb355f4",
      "name": "AI Agent1"
    },
    {
      "parameters": {
        "content": "# Step 2 - Check job relevance",
        "height": 368,
        "width": 2032,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -48,
        192
      ],
      "typeVersion": 1,
      "id": "fb164c9e-dddd-4f5c-a9a7-c9abbf3bc92e",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "# Step 3 - Prepare your cover letter",
        "height": 432,
        "width": 2032,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -48,
        576
      ],
      "typeVersion": 1,
      "id": "6a196d2a-5067-4dcd-a088-5170b86d65b5",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "model": "nvidia/nemotron-3-super-120b-a12b:free",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        352,
        672
      ],
      "id": "b74f42c8-5bde-4d13-b5c1-bb44f6adfd2a",
      "name": "OpenRouter Chat Model1",
      "credentials": {
        "openRouterApi": {
          "id": "JwoHJ2cIvD55d2eb",
          "name": "OpenRouter account 3"
        }
      }
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n\t\"cover_letter\": \"\"\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        560,
        672
      ],
      "id": "7ce2824d-756b-4aa7-a90c-90cd2f3bfa93",
      "name": "Structured Output Parser1"
    },
    {
      "parameters": {
        "operation": "update",
        "documentURL": "={{ $json.id }}",
        "actionsUi": {
          "actionFields": [
            {
              "action": "insert",
              "text": "={{ $('AI Agent1').item.json.output.cover_letter }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        1344,
        816
      ],
      "id": "36e8e527-2954-4137-99d2-c26b20f93827",
      "name": "Update a document",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "seUy83qRzsqvPyzC",
          "name": "Google Docs account"
        }
      }
    },
    {
      "parameters": {
        "folderId": "1nLbMQ3KCRzfBcT5gSBQTJYcJUPp88v0x",
        "title": "=cover_letter_ {{ $('Get row(s) in sheet1').item.json.Company }}_{{ $('Get row(s) in sheet1').item.json['Job Title'] }}"
      },
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        928,
        816
      ],
      "id": "b905f36b-26f0-4f73-b95f-ce98ec8756b9",
      "name": "Create a document",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "seUy83qRzsqvPyzC",
          "name": "Google Docs account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1HdP_4EGdDNtmbvPUjtvfsr50TeaNAa-BsDV2egMmCs4",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "الورقة1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1HdP_4EGdDNtmbvPUjtvfsr50TeaNAa-BsDV2egMmCs4/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "row_number": "={{ $('Get row(s) in sheet1').item.json.row_number }}",
            "Cover Letter Path": "=https://docs.google.com/document/d/{{ $json.documentId }}",
            "Score": "={{ $('AI Agent').item.json.output.score }}"
          },
          "matchingColumns": [
            "row_number"
          ],
          "schema": [
            {
              "id": "Company",
              "displayName": "Company",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Job Title",
              "displayName": "Job Title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Url",
              "displayName": "Url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Apply Url",
              "displayName": "Apply Url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Description",
              "displayName": "Description",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Location",
              "displayName": "Location",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Post At",
              "displayName": "Post At",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Score",
              "displayName": "Score",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Cover Letter Path",
              "displayName": "Cover Letter Path",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1792,
        816
      ],
      "id": "e7e8f198-a7a5-4e41-9de4-51f41168a6a0",
      "name": "Update row in sheet1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "2jApfayuf7hTqZbd",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "272b8cea-bee0-4ad4-b4d8-2acc8f6f4631",
              "leftValue": "={{ $json.output.score }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1184,
        384
      ],
      "id": "eaff5307-5b93-4f0a-aa1f-bfff38479ab9",
      "name": "If1"
    },
    {
      "parameters": {
        "operation": "delete",
        "documentId": {
          "__rl": true,
          "value": "1HdP_4EGdDNtmbvPUjtvfsr50TeaNAa-BsDV2egMmCs4",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "الورقة1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1HdP_4EGdDNtmbvPUjtvfsr50TeaNAa-BsDV2egMmCs4/edit#gid=0"
        },
        "startIndex": "={{ $('Get row(s) in sheet1').item.json.row_number }}"
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1376,
        240
      ],
      "id": "8ccf37bb-7ec8-4944-8ed3-9b7a825ddbef",
      "name": "Delete rows or columns from sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "2jApfayuf7hTqZbd",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// 1. Pull data from previous nodes\nconst jobDescription = $('Get row(s) in sheet1').first().json.Description ?? '';\nconst resumeContent = $('Get Resume').first().json.content ?? '';\n\n// 2. Build the prompt\nconst aiPrompt = `\nYou are a precision recruitment evaluator. Follow these instructions strictly:\n\n1. **Relevance Check:** If the Job Description is not about automation or AI automation with n8n (not automation for testers) set \"score\" to 0, and set \"miss_requirements\" to \"null\" and do NOT continue.\n2. **Evaluation:** If relevant, compare the Job Description with the Resume:\n   - 1 = Very poor match\n   - 2 = Weak match\n   - 3 = Moderate match\n   - 4 = Strong match\n   - 5 = Excellent match\n3. **Gap Analysis:** List skills, tools, or experiences in the Job Description that are missing from the Resume in a field called \"miss_requirements\" and add use telegram tool to send \"miss_requirements\".\n\n---\nJob Description:\n${jobDescription}\n---\nResume:\n${resumeContent}\n`.trim();\n\n// 3. Return in correct n8n format\nreturn [{ json: { fullPrompt: aiPrompt } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        624,
        384
      ],
      "id": "8590b0b6-f8c3-4533-b793-21f88ed852e5",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "jsCode": "const jobDesc = $('Get row(s) in sheet1').first().json.Description;\nconst resume = $('Get Resume').first().json.content;\n\nif (!jobDesc) throw new Error(\"Job description is missing\");\nif (!resume) throw new Error(\"Resume content is missing\");\n\nconst prompt = `\nGenerate a concise, professional cover letter for Mohammed Shaheen. \nFocus on his expertise in n8n automation and LLM integration.\nJob Description: ${jobDesc}\nResume: ${resume}\nRequirements:\n- Under 250 words.\n- Professional and enthusiastic tone.\n- Highlight relevant project experience from the resume.\n`.trim();\n\nreturn [{ json: { prompt } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        32,
        816
      ],
      "id": "6f3f5192-daf9-48e1-86ee-ff07d1289f46",
      "name": "Code in JavaScript1"
    },
    {
      "parameters": {
        "chatId": "6252817666",
        "text": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Text', ``, 'string') }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegramTool",
      "typeVersion": 1.2,
      "position": [
        896,
        224
      ],
      "id": "39268414-4036-422b-b458-10ed39e25a87",
      "name": "Send a text message in Telegram",
      "webhookId": "5b306278-c2ae-486d-8ff5-d466c2095ec5",
      "credentials": {
        "telegramApi": {
          "id": "yymfv0VZBguIldjN",
          "name": "LinkedIn Jobs"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "Run an Actor",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Run an Actor": {
      "main": [
        [
          {
            "node": "Get dataset items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get dataset items": {
      "main": [
        [
          {
            "node": "Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger1": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet1": {
      "main": [
        [
          {
            "node": "Get Resume",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Get Resume": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Code in JavaScript1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Update row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser1": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent1": {
      "main": [
        [
          {
            "node": "Create a document",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update a document": {
      "main": [
        [
          {
            "node": "Update row in sheet1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a document": {
      "main": [
        [
          {
            "node": "Update a document",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update row in sheet": {
      "main": [
        []
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Delete rows or columns from sheet",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript1": {
      "main": [
        [
          {
            "node": "AI Agent1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a text message in Telegram": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Delete rows or columns from sheet": {
      "main": [
        []
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "54b298c1-a1c5-4a3d-a94c-029e48234cb6",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "2d53b58c49dc86b57592e908eaa305a1b7171f9f7e9ca1c93755a41f1190de85"
  },
  "id": "1zyz_kERaq8CY64l6JYJO",
  "tags": []
}
