LinkedIn Jobs.json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "weeks"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        0
      ],
      "id": "46ef402d-dab4-4e21-8e37-a7f9e6b8b64d",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1HdP_4EGdDNtmbvPUjtvfsr50TeaNAa-BsDV2egMmCs4",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1HdP_4EGdDNtmbvPUjtvfsr50TeaNAa-BsDV2egMmCs4/edit?gid=0#gid=0",
          "mode": "url"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        208,
        0
      ],
      "id": "04c139c4-f9f7-4e88-90fd-42e6957100d0",
      "name": "Get row(s) in sheet",
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "2jApfayuf7hTqZbd",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "13af5cd1-03af-431a-adb8-d70157c3de8c",
              "name": "matching",
              "value": "={{ $json.Company }}-{{ $json[\"Job Title\"] }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        416,
        0
      ],
      "id": "32981d2e-c752-45fd-b362-b03ce63c6934",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "matching"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        624,
        0
      ],
      "id": "4a826d1b-1201-4d10-b944-5a29f1e57942",
      "name": "Aggregate"
    },
    {
      "parameters": {
        "actorId": {
          "__rl": true,
          "value": "https://console.apify.com/actors/hKByXkMQaC5Qt9UMN/input",
          "mode": "url"
        },
        "customBody": "{\n    \"count\": 100,\n    \"scrapeCompany\": true,\n    \"splitByLocation\": false,\n    \"urls\": [\n        \"https://www.linkedin.com/jobs/search/?currentJobId=4380733508&distance=25&geoId=102007122&keywords=N8N&origin=JOB_SEARCH_PAGE_QUERY_EXPANSION\",\n        \"https://www.linkedin.com/jobs/search/?currentJobId=4359070952&distance=25&geoId=101992040&keywords=Automation%20Engineer&origin=JOB_SEARCH_PAGE_KEYWORD_HISTORY&refresh=true\"\n    ]\n}",
        "timeout": {}
      },
      "type": "@apify/n8n-nodes-apify.apify",
      "typeVersion": 1,
      "position": [
        832,
        0
      ],
      "id": "ae0235ef-da73-4ad1-95c8-49b263212798",
      "name": "Run an Actor",
      "credentials": {
        "apifyApi": {
          "id": "NCRSCBJmfz3eI63N",
          "name": "Apify account"
        }
      }
    },
    {
      "parameters": {
        "resource": "Datasets",
        "datasetId": "={{ $json.defaultDatasetId }}",
        "offset": {},
        "options": {}
      },
      "type": "@apify/n8n-nodes-apify.apify",
      "typeVersion": 1,
      "position": [
        1040,
        0
      ],
      "id": "6e8a36bb-1d66-402d-b601-435af7815d4f",
      "name": "Get dataset items",
      "credentials": {
        "apifyApi": {
          "id": "NCRSCBJmfz3eI63N",
          "name": "Apify account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "91887fc3-719c-4b57-8975-3715952deee9",
              "leftValue": "={{ $('Aggregate').first().json.matching }}",
              "rightValue": "={{ $json.companyName }}-{{ $json.title }}",
              "operator": {
                "type": "array",
                "operation": "notContains",
                "rightType": "any"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.3,
      "position": [
        1248,
        0
      ],
      "id": "b305f2ad-207b-4977-a8da-75d393c3d24b",
      "name": "Filter"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1HdP_4EGdDNtmbvPUjtvfsr50TeaNAa-BsDV2egMmCs4",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "الورقة1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1HdP_4EGdDNtmbvPUjtvfsr50TeaNAa-BsDV2egMmCs4/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Company": "={{ $json.companyName }}",
            "Url": "={{ $json.link }}",
            "Job Title": "={{ $json.title }}",
            "Apply Url": "={{ $json.applyUrl }}",
            "Description": "={{ $json.descriptionHtml }}",
            "Location": "={{ $json.location }}",
            "Post At": "={{ $json.postedAt }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Company",
              "displayName": "Company",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Job Title",
              "displayName": "Job Title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Url",
              "displayName": "Url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Apply Url",
              "displayName": "Apply Url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Description",
              "displayName": "Description",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Location",
              "displayName": "Location",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Post At",
              "displayName": "Post At",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Score",
              "displayName": "Score",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Cover Letter Path",
              "displayName": "Cover Letter Path",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1456,
        0
      ],
      "id": "f641da92-04ac-4497-a878-405a3ca027de",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "2jApfayuf7hTqZbd",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "content": "# Step 1 - Get  and remove duplicated jobs",
        "height": 288,
        "width": 1712
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -48,
        -112
      ],
      "typeVersion": 1,
      "id": "5cbcf371-27de-4ca2-bdd4-44b6f9df1723",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        384
      ],
      "id": "b5f1c68c-1c02-44a5-be53-4de47012eef2",
      "name": "Schedule Trigger1"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1HdP_4EGdDNtmbvPUjtvfsr50TeaNAa-BsDV2egMmCs4",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "الورقة1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1HdP_4EGdDNtmbvPUjtvfsr50TeaNAa-BsDV2egMmCs4/edit#gid=0"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "Score"
            }
          ]
        },
        "options": {
          "returnFirstMatch": true
        }
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        208,
        384
      ],
      "id": "a89c2a45-b5e1-47e0-ac62-12f04838d324",
      "name": "Get row(s) in sheet1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "2jApfayuf7hTqZbd",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Compare the following job description with the provided resume.\nEvaluates how well the candidate's resume matches the job requirements.\n1 = Very poor match\n2 = Weak match\n3 = Moderate match\n4 = Strong match\n5 = Excellent match\n\nOnly provide the numeric score (1 - 5) as the output.\n\nJob Description: {{ $('Get row(s) in sheet1').item.json.Description }}\n\nResume: {{ $('Get Resume').first().json.content }}",
        "hasOutputParser": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        624,
        384
      ],
      "id": "8a0af4e5-3ee0-49df-9122-f8fb7a61a6ea",
      "name": "AI Agent",
      "retryOnFail": true
    },
    {
      "parameters": {
        "model": "nvidia/nemotron-3-super-120b-a12b:free",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        544,
        240
      ],
      "id": "50d86df1-1dad-4fe7-9cab-ecb682515ea5",
      "name": "OpenRouter Chat Model",
      "credentials": {
        "openRouterApi": {
          "id": "n0qpJOVgyGdpwyPz",
          "name": "LinkedIn Jobs"
        }
      }
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"score\": 0\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        832,
        240
      ],
      "id": "0fe3060f-c66e-4764-ba1f-a306098ede3f",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "operation": "get",
        "documentURL": "1Q716gU3U0KvSWU2hnoF2Ko2CyFJQ7GMIO_52t2_nsTI"
      },
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        416,
        384
      ],
      "id": "57ec473f-2188-48a8-96dd-d3a1c5cdd195",
      "name": "Get Resume",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "seUy83qRzsqvPyzC",
          "name": "Google Docs account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "71b85698-caca-4b08-b431-8df33e2df8d7",
              "leftValue": "={{ $json.output.score }}",
              "rightValue": 2,
              "operator": {
                "type": "number",
                "operation": "gte"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        976,
        384
      ],
      "id": "6e918146-e474-439c-8fea-c482257d6e2b",
      "name": "If"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1HdP_4EGdDNtmbvPUjtvfsr50TeaNAa-BsDV2egMmCs4",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "الورقة1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1HdP_4EGdDNtmbvPUjtvfsr50TeaNAa-BsDV2egMmCs4/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Score": "={{ $json.output.score }}",
            "row_number": "={{ $('Get row(s) in sheet1').item.json.row_number }}"
          },
          "matchingColumns": [
            "row_number"
          ],
          "schema": [
            {
              "id": "Company",
              "displayName": "Company",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Job Title",
              "displayName": "Job Title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Url",
              "displayName": "Url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Apply Url",
              "displayName": "Apply Url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Description",
              "displayName": "Description",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Location",
              "displayName": "Location",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Post At",
              "displayName": "Post At",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Score",
              "displayName": "Score",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Cover Letter Path",
              "displayName": "Cover Letter Path",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1296,
        384
      ],
      "id": "6fc1daa5-040d-4f93-ac2a-eb9ab0570c93",
      "name": "Update row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "2jApfayuf7hTqZbd",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Generate a professional cover letter tailored to this specific job description, highlighting the most relevant skills and experiences from the resume.\nThe cover letter should :\n- Be clear, concise, short and professional.\n- Address the key requirements of job description.\n- Demonstrate enthusiasm and fit for the role.\n- Use candidate's experience from the resume.\n\nJob description: {{ $('Get row(s) in sheet1').item.json.Description }}\n\nResume: {{ $('Get Resume').item.json.content }}",
        "hasOutputParser": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        32,
        816
      ],
      "id": "f8577de7-db85-4121-962a-75672cb355f4",
      "name": "AI Agent1"
    },
    {
      "parameters": {
        "content": "# Step 2 - Check job relevance",
        "height": 368,
        "width": 1712,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -48,
        192
      ],
      "typeVersion": 1,
      "id": "fb164c9e-dddd-4f5c-a9a7-c9abbf3bc92e",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "# Step 3 - Prepare your cover letter",
        "height": 432,
        "width": 1712,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -48,
        576
      ],
      "typeVersion": 1,
      "id": "6a196d2a-5067-4dcd-a088-5170b86d65b5",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "model": "nvidia/nemotron-3-super-120b-a12b:free",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        0,
        672
      ],
      "id": "b74f42c8-5bde-4d13-b5c1-bb44f6adfd2a",
      "name": "OpenRouter Chat Model1",
      "credentials": {
        "openRouterApi": {
          "id": "JwoHJ2cIvD55d2eb",
          "name": "OpenRouter account 3"
        }
      }
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n\t\"cover_letter\": \"\"\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        208,
        672
      ],
      "id": "7ce2824d-756b-4aa7-a90c-90cd2f3bfa93",
      "name": "Structured Output Parser1"
    },
    {
      "parameters": {
        "operation": "update",
        "documentURL": "={{ $json.id }}",
        "actionsUi": {
          "actionFields": [
            {
              "action": "insert",
              "text": "={{ $('AI Agent1').item.json.output.cover_letter }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        768,
        816
      ],
      "id": "36e8e527-2954-4137-99d2-c26b20f93827",
      "name": "Update a document",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "seUy83qRzsqvPyzC",
          "name": "Google Docs account"
        }
      }
    },
    {
      "parameters": {
        "folderId": "1nLbMQ3KCRzfBcT5gSBQTJYcJUPp88v0x",
        "title": "=cover_letter_ {{ $('Get row(s) in sheet1').item.json.Company }}_{{ $('Get row(s) in sheet1').item.json['Job Title'] }}"
      },
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        464,
        816
      ],
      "id": "b905f36b-26f0-4f73-b95f-ce98ec8756b9",
      "name": "Create a document",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "seUy83qRzsqvPyzC",
          "name": "Google Docs account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1HdP_4EGdDNtmbvPUjtvfsr50TeaNAa-BsDV2egMmCs4",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "الورقة1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1HdP_4EGdDNtmbvPUjtvfsr50TeaNAa-BsDV2egMmCs4/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "row_number": "={{ $('Get row(s) in sheet1').item.json.row_number }}",
            "Cover Letter Path": "=https://docs.google.com/document/d/{{ $json.documentId }}",
            "Score": "={{ $('AI Agent').item.json.output.score }}"
          },
          "matchingColumns": [
            "row_number"
          ],
          "schema": [
            {
              "id": "Company",
              "displayName": "Company",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Job Title",
              "displayName": "Job Title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Url",
              "displayName": "Url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Apply Url",
              "displayName": "Apply Url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Description",
              "displayName": "Description",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Location",
              "displayName": "Location",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Post At",
              "displayName": "Post At",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Score",
              "displayName": "Score",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Cover Letter Path",
              "displayName": "Cover Letter Path",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1088,
        816
      ],
      "id": "e7e8f198-a7a5-4e41-9de4-51f41168a6a0",
      "name": "Update row in sheet1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "2jApfayuf7hTqZbd",
          "name": "Google Sheets account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "Run an Actor",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Run an Actor": {
      "main": [
        [
          {
            "node": "Get dataset items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get dataset items": {
      "main": [
        [
          {
            "node": "Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger1": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet1": {
      "main": [
        [
          {
            "node": "Get Resume",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Get Resume": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "AI Agent1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Update row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser1": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent1": {
      "main": [
        [
          {
            "node": "Create a document",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update a document": {
      "main": [
        [
          {
            "node": "Update row in sheet1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a document": {
      "main": [
        [
          {
            "node": "Update a document",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "1d89e456-e280-446d-a013-bc838d413cfb",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "2d53b58c49dc86b57592e908eaa305a1b7171f9f7e9ca1c93755a41f1190de85"
  },
  "id": "1zyz_kERaq8CY64l6JYJO",
  "tags": []
}